# Core packages
stripe
streamlit>=1.25.0
openai>=1.0.0
gspread
google-auth>=2.23.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.1
google-api-python-client>=2.100.0
plotly>=5.16.0
matplotlib
numpy>=1.27.0
seaborn
pandas>=2.1.0
requests>=2.31.0
python-dotenv>=1.0.0
